:global(html) {
    background-color: #ffeee7;
    margin: 0;
    padding: 0;
    font-family: Open Sans;
}

.page-container {
    width: 80%;
    margin: auto;
}

.nav-header {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 25px;
    font-weight: 600;
    text-transform: uppercase;
}

.about {
    width: 80%;
    margin: auto;
    padding-top: 40px;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
}

.content-heading {
    padding-top: 30px;
}

.content-description {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 18px;
}

.project-title {
    font-weight: 600;
}

.custom-link {
    text-decoration: none;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    transition: font-size 0.3s, text-decoration 0.3s;
    border-bottom: 1px solid currentColor;
}

.custom-link:hover {
    font-size: 110%;
    border-bottom: 4px solid currentColor;
}

.main-title {
    font-size: 20px;
    line-height: 1.8;
    font-weight: 600;
}

.section-title {
    font-size: 20px;
    font-weight: 800;
    letter-spacing: 2px;
    padding-top: 40px;
}

.message {
    font-size: 20px;
    font-weight: 600;
    font-style: italic;
    color: rgb(76, 76, 76);
    padding-top: 40px;
    padding-bottom: 20px;
}

@media (max-width: 767px) {
    .main-title {
        font-size: 18px;
    }

    .message {
        font-size: 18px;
    }

    .content-description {
        font-size: 19px;
    }
}

.nav-link {
    color: black;
    --bs-nav-link-color: ;
    font-size: 16px;
}

.logo {
    font-size: 25px;
}

.section-container {
    width: 83%;
    margin: auto;
    padding-top: 20px;
}

.card-description {
    padding-top: 10px;
}

.card-title {
    font-weight: 500;
    font-size: 20px;
}

.large-section {
    font-size: 30px;
    padding-top: 100px;
    padding-bottom: 100px;
}

.nav-link:hover {
    font-size: 110%;
    border-bottom: 4px solid currentColor;
}
