	:global(html) {
		background-color: #ffeee7;
		margin: 0;
		padding: 0;
		font-family: Open Sans;
	}

	.container {
		width: 80%;
		margin: auto;
	}

	.nav_ {
		padding-top: 20px;
		padding-bottom: 20px;
		font-size: 25px;
		font-weight: 600;
		text-transform: uppercase;
	}

	.about {
		width: 80%;
		margin: auto;
		padding-top: 40px;
	}

	.col {
		display: grid;
		grid-template-columns: 1fr; /* Set the number of columns as needed */
		grid-gap: 10px; /* Adjust the gap between divs as desired */
	}

	.c {
		padding-top: 30px;
	}

	.d {
		padding-top: 10px;
		padding-bottom: 10px;
		font-size: 17px;
	}

	.e {
		font-weight: 600;
	}

	/* Style the link to look like text with underline */
	.text-link {
		text-decoration: none; /* Remove default underline */
		color: inherit; /* Use the default text color */
		font-family: inherit; /* Use the default font */
		font-size: inherit; /* Use the default font size */
		transition: font-size 0.3s, text-decoration 0.3s; /* Add transitions for hover effect */
		border-bottom: 1px solid currentColor; /* Add underline on hover using current text color */
	}

	/* Add hover effect to increase text size and underline */
	.text-link:hover {
		font-size: 110%; /* Increase font size on hover */
		border-bottom: 4px solid currentColor; /* Add underline on hover using current text color */
	}

	.title {
		font-size: 20px;
		line-height: 1.8;
		font-weight: 600;
	}

	.sub-heading {
		font-size: 20px;
		font-weight: 800;
		letter-spacing: 2px;
	}

	.mes {
		font-size: 20px;
		font-weight: 600;
		font-style: italic;
		color: rgb(76, 76, 76);
		padding-top: 40px;
		padding-bottom: 20px;
	}

	@media (max-width: 767px) {
		/* Styles for mobile phones */
		.title {
		  font-size: 18px
		}

		.mess {
			font-size: 18px;
		}

		.d {
			font-size: 19px;
		}
	  }